<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <meta name="description" content="portfolio web developer web designer">
     <meta name="author" content="Kaminderpal Singh">
     <title>Kaminderpal Singh</title>
     <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
</head>
<body>

     <%= htmlWebpackPlugin.options.sidebar %>
     <div class="container-fluid p-0">
          <%= htmlWebpackPlugin.options.about %>
          <hr class="m-0">
          <%= htmlWebpackPlugin.options.experience %>
          <%= htmlWebpackPlugin.options.skills %>
          <%= htmlWebpackPlugin.options.education %>
          <%= htmlWebpackPlugin.options.interest %>
          <%= htmlWebpackPlugin.options.contact %>
     </div>
     
</body>
</html>