<section class="resume-section p-4 p-sm-3 p-md-4 p-lg-5 d-flex d-column text-center text-lg-left" id="about">
     <div class="my-auto">
          <h1 class="mb-0">Kaminderpal
          <span class="text-primary">Singh</span>
          </h1>
          <div class="subheading mb-5">Montreal, QC, Canada · (438) 992-8584 ·
          <a href="mailto:kaminderpal@yahoo.com">kaminderpal@yahoo.com</a>
          </div>
          <p class="lead mb-5 text-justify">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
          <div class="social-icons">
          <a href="https://www.linkedin.com/in/kaminderpal" target="_blank">
               <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/kaminderpal" target="_blank">
               <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/Kamy7101" target="_blank">
               <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.facebook.com/kaminderpal" target="_blank">
               <i class="fab fa-facebook-f"></i>
          </a>
          </div>
     </div>
</section>