<section class="resume-section p-4 p-sm-3 p-md-4 p-lg-5 d-flex flex-column" id="contact">
     <div class="my-auto">
          <h2 class="mb-5">Contact</h2>
          <ul class="fa-ul mb-0">
          <li class="mb-5">
               <i class="fa-li fa fa-envelope text-primary fa-2x"></i>
               kaminderpal@yahoo.com</li>
          <li class="mb-5">
               <i class="fa-li fa fa-phone text-primary fa-2x"></i>
               +1 (438) 992 8584</li>
          <li class="mb-5">
               <i class="fa-li fa fa-briefcase text-primary fa-2x"></i>
               For More Information, please visit <a href="#" target="_blank">Nodemedia.ca</a></li>
          </ul>
     </div>
</section>