<section class="resume-section p-4 p-lg-5 d-flex flex-column" id="experience">
          <div class="my-auto">
               <h2 class="mb-5">Experience</h2>
               <div class="resume-item d-flex flex-column flex-md-row mb-5">
               <div class="resume-content mr-auto">
                    <h3 class="mb-0">Full Stack Developer</h3>
                    <div class="subheading mb-3"><a href="https://livebarn.com" target="_blank">LiveBarn Inc.</a></div>
                    <ul>
                         <li>Work on Frontend infrastructure: JavaScript ( <a href="https://nodejs.org/en/" target="_blank">Node.js</a>, <a href="https://reactjs.org/" target="_blank">Reacjs</a> ), HTTP live streaming ( HLS, adaptive bitrate ) with <a href="https://developer.jwplayer.com" target="_blank">JWPlayer</a>.</li>
                         <li>Work on Backend Infrastructure:  Rest Apis(  <a href="https://nodejs.org/en/" target="_blank">Node.js</a>, <a href="https://www.mongodb.com/" target="_blank">Mongodb</a>, <a href="http://expressjs.com/" target="_blank">Express.js</a> ) </li>
                         <li>Update frontend automation build system for all tools with <a href="https://webpack.js.org/" target="_blank">Webpack</a>.</li>
                         <li>Continuous Integration using <a href="https://jenkins.io/" target="_blank">Jenkins</a>.</li>
                         <li>Deploy Production ready code on <a href="https://aws.amazon.com" target="_blank">Amazon AWS</a>.</li>
                         <li>Write test suites to make app compatible for all browsers and devices.</li> 
                         <li>Development Stack includes Nodejs, Expressjs, MongoDB</li>
                    </ul>
               </div>
               <div class="resume-date text-md-right">
                    <span class="text-primary">March 2017 - Present</span>
               </div>
               </div>
     
               <div class="resume-item d-flex flex-column flex-md-row mb-5">
               <div class="resume-content mr-auto">
                    <h3 class="mb-0">Front End Developer</h3>
                    <div class="subheading mb-3"><a href="https://livebarn.com" target="_blank">Livebarn Inc.</a></div>
                    <ul>
                         <li>Develop Web interface of company's parent <a href="https://livebarn.com" target="_blank"> site </a>.</li>
                         <li>Develop Web Interface of User Management System for customer support team.</li>
                         <li>Develop Frontend <a href="https://venueadmin.livebarn.com" target="_blank">Venue Manager</a> WebApp for managers working in LiveBarn venues.</li>
                         <li>Write scripts to automate Frontend code using <a href="https://gruntjs.com/" target="_blank">Gruntjs</a>.</li>
                         <li>Development Stack includes HTML5,CSS3,Bootstrap,Backbonejs,Jquery</li>
                    </ul>
               </div>
               <div class="resume-date text-md-right">
                    <span class="text-primary">January 2015 - Febrary 2017</span>
               </div>
               </div>
     
               <div class="resume-item d-flex flex-column flex-md-row mb-5">
               <div class="resume-content mr-auto">
                    <h3 class="mb-0">Freelance Web Developer</h3>
                    <div class="subheading mb-3"><a href="#" target="_blank">Node Media Inc.</a></div>
                    <ul>
                         <li>Develop Website using MERN( <a href="https://www.mongodb.com/" target="_blank">Mongodb</a>,<a href="http://expressjs.com/" target="_blank">Express.js</a>,<a href="https://reactjs.org/" target="_blank">Reacjs</a>,<a href="https://nodejs.org/en/" target="_blank">Node.js</a> ) stack.</li>
                         <li>Develop Wordpress themes with <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>.</li>
                         <li>Develop <a href="https://wordpress.org/" target="_blank">Wordpress</a> Websites for local clients.</li>
                         <li>Update and customize existing wordpress websites.</li>
                         <li>Deploy developed apps on Amazon <a href="https://aws.amazon.com" target="_blank">AWS</a> ( EC2, S3, RDS ) </li>
                         <li>Learning new development stacks like <a href="https://www.docker.com/" target="_blank">Docker</a>, <a href="https://aws.amazon.com" target="_blank">AWS</a> </li>
                    </ul>
               </div>
               <div class="resume-date text-md-right">
                    <span class="text-primary">July 2013 - Present</span>
               </div>
               </div>
          </section>