<section class="resume-section p-4 p-sm-3 p-md-4 p-lg-5 d-flex flex-column" id="interests">
     <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p class="text-justify">Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an photgrapher and novice ice climber. During the warmer months here in Montreal, I enjoy mountain hiking of Mont Tremlant, free climbing, and running.</p>
          <p class="mb-0 text-justify">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the full Stack web development world and Data Analysis.</p>
     </div>
</section>