<section class="resume-section p-4 p-sm-3 p-md-4 p-lg-5 d-flex flex-column ks-skills" id="skills">
          <div class="my-auto">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages</div>

            <div class="row">
              <div class="col-12">
                  <ul class="fa-ul">
                      <li>
                          <i class="fa-li fa fa-check"></i>
                          JavaScript, Nodejs, Reactjs, Jquery, Expressjs, Backbonejs
                      </li>
                      <li>
                          <i class="fa-li fa fa-check"></i>
                          HTML5, CSS3, Bootstrap, Material-UI
                      </li>
                      <li>
                          <i class="fa-li fa fa-check"></i>
                          Java, Spring, Hibernate
                      </li>
                      <li>
                          <i class="fa-li fa fa-check"></i>
                          Php, Wordpress
                      </li>
                      <li>
                          <i class="fa-li fa fa-check"></i>
                          MongoDb, MySql
                      </li>
                      <li>
                          <i class="fa-li fa fa-check"></i>
                          AWS, Heroku
                      </li>
                    </ul>
                  </div>
            </div>
                      <div class="subheading mb-3">Tools</div>
                      <div class="row">
                        <div class="col-12">
                            <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-check"></i>
                              Webpack</li>
                            <li>
                                <i class="fa-li fa fa-check"></i>
                              Grunt</li>
                            <li>
                                <i class="fa-li fa fa-check"></i>
                              Jenkins</li>
                            <li>
                                <i class="fa-li fa fa-check"></i>
                              Git</li>
                            <li>
                                <i class="fa-li fa fa-check"></i>
                              Jira</li>
                            <li>
                                <i class="fa-li fa fa-check"></i>
                              Trello</li>
                            <li>
                                <i class="fa-li fa fa-check"></i>
                              Slack</li>
                          </ul>
                        </div>
                      </div>


            <div class="subheading mb-3">Workflow</div>
            <ul class="fa-ul mb-0">
              <li>
                <i class="fa-li fa fa-check"></i>
                Mobile-First, Responsive Design</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Cross Browser Testing &amp; Debugging</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Cross Functional Teams</li>
              <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development &amp; Scrum</li>
            </ul>
          </div>
        </section>